{% load static %}
{% load active_link_tags %}



<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
          <ul>
             <li class="menu-title">   
                <span>Main Menu</span> 
             </li>
             
             <li class="{% active_link 'staff_home' 'active' %}">
               <a href="{% url 'staff_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
            </li>
            <li class="{% active_link 'school_teacher_attendance' 'active' %}">
               <a href="{% url 'school_teacher_attendance' %}"><i class="fas fa-calendar-alt"></i> <span>Take Attendence</span></a>
            </li>
            <li class="{% active_link 'view_school_teacher_attendance' 'active' %}">
               <a href="{% url 'view_school_teacher_attendance' %}"><i class="fas fa-calendar-alt"></i> <span>View/Update Attendence</span></a>
            </li>
             <li class="{% active_link 'add_result' 'active' %}">
               <a href="{% url 'add_result' %}"><i class="fas fa-poll-h"></i> <span>Add Result</span></a>
            </li>
             <li class="{% active_link 'staff_view_routine' 'active' %}">
               <a href="{% url 'staff_view_routine' %}"><i class="fas fa-list"></i><span>View Routine</span></a>
            </li>
             <li class="{% active_link 'staff_apply_leave' 'active' %}">
               <a href="{% url 'staff_apply_leave' %}"><i class="fa fa-envelope"></i> <span>Apply for Leave</span></a>
            </li>
             <li class="{% active_link 'staff_feedback' 'active' %}">
               <a href="{% url 'staff_feedback' %}"><i class="fas fa-comment"></i> <span>Send Feedback</span></a>
            </li>
             <li class="{% active_link 'staff_notifications' 'active' %}">
               <a href="{% url 'staff_notifications' %}"><i class="fas fa-bell"></i> <span>Notification</span></a>
            </li>
             
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
            </li>
            

             
            
          </ul>
           
       </div>
    </div>
 </div>
